build/
out/
.vs/
*.vcxproj.user
CMakeUserPresets.json
vcpkg_installed/
*.user
*.suo
*.dll
*.pdb
*.lib
*.exp
*.ilk
red4ext/
crashes/
*.rsdb
usedhashes.txt
usedhashes.kark

cleanslate/dist/
tools/CleanSlate/
